<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Для джедаев</title>
</head>
<body>
    <h2>Выберите кандидата:</h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if candidate_list %}
        <ul>
        {% for candidate in candidate_list %}
            <li><a href="{% url 'service:test_results' jedi_id planet_id candidate.id %}">{{ candidate.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Список кандидатов пуст.</p>
    {% endif %}

</body>
</html>