<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Для джедаев</title>
</head>
<body>
    <h2>Выбери себя из списка:</h2>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if jedi_list %}
        <ul>
        {% for jedi in jedi_list %}
            <li><a href="{% url 'service:jedi' jedi.id jedi.learning_planet_id %}">{{ jedi.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Список джежаев пуст.</p>
    {% endif %}

</body>
</html>