<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Для кандидатов</title>
</head>
<body>
    <h2>Выполни тестовое испытание:</h2>
	<p>Номер ордена: {{ orden.id }}</p>
	<p>Название ордена: {{orden.name }}</p>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <h3>Вопросы:</h3>
    <form action="{% url 'service:test' candidate_id orden.planet_id %}" method="post" enctype="multipart/form-data">
        {% for question in orden.tests.questions.all %}
            <p>{{ question.question }}</p>
            <input type="radio" name="question_{{ forloop.counter }}" value="yes">Да
            <input type="radio" name="question_{{ forloop.counter }}" value="no">Нет
        {% endfor %}
        <br><br>
        <button type="submit">Готово</button>
    </form>



</body>
</html>